@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf");
}

body {
  text-align: center;
  font-family: "Roboto", Arial;
  background: #e8e8e8;
  color: #201420;
}
::selection {
  background: #000;
  color: #ddd;
}

body a {
  text-decoration: none;
  color: #106878;
}
body a::selection {
  color: #7bc;
}

body a:hover {
  color: #3a8;
}
body a:hover::selection {
  color: #6db;
}

main {
  margin: 48px;
}

.name {
  height: 82px;
  max-width: 426px;
  padding: 12px 0 0 0;
  margin: 0 auto;
  font-size: 60px;
  font-weight: bold;
  background: black;
  color: #e8e8e8;
  cursor: default;
}

.title {
  margin: 48px 0 16px 0;
}

.message {
  margin: 48px 0 48px 0;
}

.message div {
  margin: 12px 0;
  cursor: default;
}

.inquires {
  display: inline;
}

.obfuscator {
  display: inline;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.button {
  display: block;
  position: relative;
  height: 44px;
  width: 150px;
  margin: 16px auto;
  text-align: center;
  font-size: 24px;
  line-height: 46px;
  background: #c0c0b8;
}

.button:hover {
  background: #d0d0d0;
  color: #3a8;
}

.face {
  width: 100%;
  max-width: 426px;
  max-height: 100%;
  margin: 48px auto 0 auto;
  outline: 1px solid #aababa;
  transition-property: filter;
  transition-duration: 140ms;
  transition-timing-function: ease-in-out;
}

.face:hover {
  filter: sepia(16%) saturate(85%) hue-rotate(80deg);
}

@media (max-width: 520px) {
  .name {
    font-size: 45px;
    height: 61px;
    max-width: 320px;
    padding: 9px 0 0 0;
  }
}

@media (max-width: 410px) {
  .name {
    font-size: 30px;
    height: 41px;
    max-width: 213px;
    padding: 6px 0 0 0;
  }

  .button {
    height: 30px;
    width: 130px;
    font-size: 22px;
    line-height: 31px;
  }
}
