body {
	background-color: #412;
}

.main-cont {
	height: 55px;
	background-color: #aa8;
	color: #ddd;
}

.span5 {
	background-color: #a22;
	height: 55px;
}

.write-up {
}

.top{
	height: 80px;
	margin-top: 40px;
}

.big {
	text-align: center;
	font-size: 80;
}

.medium {
	height: 80px;
	text-align: center;
	font-size: 40;
}

.small {
	font-size: 20;
}

.button {
	position: relative;
	height: 50px;
	font-size: 40px;
	text-align: center;
	vertical-align: center;
	color: #aa8;
	background-color: #745;
}

.button:hover {
	background-color: #a78;
}

.button-text {
	position: absolute;
	top: 50%;
	margin-top: 0px;
}