body {
  background-color: #dbdbdb;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  color: #201420;
  text-align: center;
}
::-moz-selection {
  color: #ddd;
  background: #000;
}
::selection {
  color: #ddd;
  background: #000;
}

body a {
  text-decoration: none;
  color: #478;
}
body a::-moz-selection {
  color: #7bc;
}
body a::selection {
  color: #7bc;
}

body a:hover {
  color: #4a8;
}
body a:hover::-moz-selection {
  color: #6db;
}
body a:hover::selection {
  color: #6db;
}

.left-column {
  float: left;
  width: 47%;
  margin-left: 3%;
}

.name{
  font-size: 80px;
  vertical-align: bottom;
}

.divider {
  height: 3px;
  width: 465px;
  margin-top: -2px;
  margin-right: calc((100% - 465px) / 2 - 1px);
  margin-bottom: 0px;
  margin-left: calc((100% - 465px) / 2 + 2px);
  background-color: #000;
}

.title {
  font-size: 44px;
  line-height: 44px;
  margin-top: 7px;
  margin-left: 3px;
}

.paragraph {
  font-size: 20.5px;
  line-height: 26px;
  margin: 40px auto 0px auto;
  max-width: 490px;
}

.buttons {
  margin-top: 50px;
}

.button-link {
  height: 60px;
  width: 280px;
  display: block;
  margin: 20px auto 0px auto;
}

.button {
  width: 280px;
  background-color: #abb;
  border: 1px solid #dbdbdb;
}

.button:hover {
  color: #4a8;
  background-color: #dbdbdb;
  border: 1px solid #abb;
}

.button-text {
  position: relative;
  height: 60px;
  margin: -2px 0px 2px 0px;
  text-align: center;
  line-height: 62px;
  font-size: 44px;
}

.contact-info {
  font-size: 20.5px;
  margin: 50px 0px 30px 0px;
}

.obfuscator {
  font-weight: bold;
  line-height: 28px;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.caveat {
  font-size: 11px;
  color: #999;
}

.right-column {
  float: left;
  width: 47%;
  margin: 0% 3% 0% 0%;
}

.face {
  margin: 0% auto 10% auto;
  width: 90%;
  max-width: 500px;
}

/* balance top margin with sides */
@media (min-width: 1125px) {
  body {
    margin: -150px 0px 0px 0px;
    padding: 15% 0% 0% 0%;
  }
}

/* smaller fonts */
@media (max-width: 1000px) and (min-width: 750px) {

  .name{
    font-size: 45px;
  }

  .title {
    margin-top: 10px;
    font-size: 24px;
  }

  .paragraph {
    margin-top: 15px;
    font-size: 16px;
    max-width: 500px;
    line-height: 20px;
  }

  .button-link {
    height: 44px;
    width: 180px;
    margin-top: 12px;
  }

  .button {
    width: 180px;
    font-size: 25px;
  }

  .button-text {
    height: 44px;
    line-height: 44px;
    font-size: 24px;
  }

  .contact-info {
    margin-top: 25px;
    font-size: 24px;
  }
}

/* shift right column beneath left column */
@media (max-width: 749px) {

  .left-column {
    width: 100%;
    float: none;
  }

  .right-column {
    float: none;
    width: 100%;
    margin: 0% 0% 0% 0%;
  }
}

/* same for iPhone */
@media (max-device-width: 480px) {

  .left-column {
    width: 100%;
    float: none;
  }

  .right-column {
    float: none;
    width: 100%;
    margin: 0% 0% 0% 0%;
  }
}

/* Identical to 'smaller fonts' query except for max-width */
@media (max-width: 499px) {

  .name{
    font-size: 45px;
  }

  .title {
    margin-top: 10px;
    font-size: 24px;
  }

  .paragraph {
    margin-top: 15px;
    font-size: 16px;
    max-width: 500px;
    line-height: 20px;
  }

  .button-link {
    height: 44px;
    width: 180px;
    margin-top: 12px;
  }

  .button {
    width: 180px;
    font-size: 25px;
  }

  .button-text {
    height: 44px;
    line-height: 44px;
    font-size: 24px;
  }

  .contact-info {
    margin-top: 25px;
    font-size: 24px;
  }
}
