body {
	background-color: #412;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
}

body a {
	color: #f95;
}

body a:hover {
	text-decoration: none;
	color: #fb4;
}

.main-cont {
	color: #cc9;
}

.face {
	margin-bottom: 50px;
}

.write-up {
	margin-left: 40px;
}

.name{
	height: 80px;
	margin-top: 50px;
	text-align: center;
	vertical-align: bottom;
	font-size: 82;
}

.title {
	height: 82px;
	margin: 48px 0px 0px 50px;
	font-size: 48;
}

.subtitle {
	margin: 15px 0px;
	font-size: 20;
}

.button {
	height: 60px;
	margin: 50px;
	font-size: 40px;
	background-color: #280810;
}

.button:hover {
	color: #fb4;
	background-color: #421;
}

.button-text {
	position: relative;
	text-align: center;
	top: 20px;
	margin-top: 0px;
}

.contact-info {
	height: 60px;
	font-size: 40px;
	text-align: center;
}

.body {
	width: 480px;
	margin-left: 50px;
	font-size: 20;
}