body {
	background-color: #ddd;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	color: #201420;
	/*color: #182020;*/
	text-align: center;
}
::-moz-selection {
	color: #ddd;
	background: #000;
}
::selection {
	color: #ddd;
	background: #000;
}

body a {
	text-decoration: none;
	color: #478;
}
body a::-moz-selection {
	color: #7bc;
}
body a::selection {
	color: #7bc;
}

body a:hover {
	color: #4a8;
}
body a:hover::-moz-selection {
	color: #6db;
}
body a:hover::selection {
	color: #6db;
}

.left-column {
	float: left;
	width: 50%;
}

	.name{
		font-size: 70px;
		vertical-align: bottom;
		margin: 16px 0px -5px 0px;
	}

	.title {
		font-size: 35px;
		line-height: 40px;
	}

	.paragraph {
		font-size: 20px;
		margin: 5px auto 15px auto;
		max-width: 550px;
	}

	.buttons {
		margin-bottom: 5px;
	}

		.button-link {
			display: block;
			height: 60px;
			width: 280px;
			margin: auto auto 8px auto;
		}

		.button {
			font-size: 40px;
			background-color: #bcc;
			padding: 2px 0px 5px 0px;
			border: 2px solid #000;
		}

		.button:hover {
			color: #4a8;
			background-color: #cdd;
		}

		.button-text {
			position: relative;
			text-align: center;
		}

	.contact-info {
		height: 60px;
		font-size: 40px;
		margin: 0px;
		text-align: center;
	}

		.obfuscator {
			unicode-bidi: bidi-override;
			direction: rtl;
		}

.right-column {
	float: left;
	width: 50%;
	margin: auto;
}

	.face {
		display: block;
		margin: 20px auto auto auto;
		width: 90%;
		max-width: 500px;
	}

/* smaller fonts */
@media (max-width: 1000px) and (min-width: 750px) {

	.name{
		font-size: 45px;
	}

	.title {
		font-size: 25px;
	}

	.paragraph {
		font-size: 16px;
		max-width: 500px;
		margin: 4px auto 20px auto;
	}

	.button-link {
		width: 180px;
		margin: -8px auto;
	}

	.button {
		font-size: 25px;
		padding: 4px 0px 6px 0px;
	}

	.contact-info {
		font-size: 25px;
		margin: 0px 0px -20px 0px;
	}
}

/* shift right column beneath left column */
@media (max-width: 749px) {

	.left-column {
		width: 100%;
		float: none;
	}

	.right-column {
		width: 100%;
		float: none;
	}
}

/* same for iPhone */
@media (max-device-width: 480px) {

	.left-column {
		width: 100%;
		float: none;
	}

	.right-column {
		width: 100%;
		float: none;
	}
}

/* Identical to first media query except for max-width */
@media (max-width: 499px) {

	.name{
		font-size: 45px;
	}

	.title {
		font-size: 25px;
	}

	.paragraph {
		font-size: 16px;
		max-width: 500px;
		margin: 4px auto 20px auto;
	}

	.button-link {
		width: 180px;
		margin: -8px auto;
	}

	.button {
		font-size: 25px;
		padding: 4px 0px 6px 0px;
	}

	.contact-info {
		font-size: 25px;
		margin: 0px 0px -20px 0px;
	}
}
