@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Light.ttf");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("./RobotoCondensed-Regular.ttf");
}

body {
  background: #e8e8e8;
  color: #201420;
}
::selection {
  background: #000;
  color: #ddd;
}

body a {
  text-decoration: none;
  color: #106878;
}
body a::selection {
  color: #7bc;
}

body a:hover {
  color: #3a8;
}
body a:hover::selection {
  color: #6db;
}

main {
  font-size: 18px;
  font-family: "Roboto", Arial;
  width: 320px;
  margin: 48px auto;
  transition: 150ms;
  transition-timing-function: ease-in-out;
}

.name {
  height: 61px;
  max-width: 320px;
  padding: 9px 0 0 0;
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
  font-family: "RobotoCondensed", Arial;
  background: black;
  color: #e8e8e8;
  cursor: default;
}
.name::selection {
  background: #ddd;
  color: #000;
}

.title {
  margin: 48px 0 16px 0;
}

.message {
  margin: 24px 0;
}

.message div {
  margin: 12px 0;
  cursor: default;
}

.resume-link {
  text-decoration: underline;
}

.inquires {
  display: inline;
}

.obfuscator {
  display: inline;
  unicode-bidi: bidi-override;
  direction: rtl;
}

.svg-bar {
  width: 366px;
  margin: 24px 27px;
}

.svg-link-wrapper {
  padding: 0 26px;
  display: inline;
}

svg {
  height: 36px;
  width: 36px;
  fill: #106878;
}

svg:hover {
  fill: #3a8;
}

.face {
  width: 100%;
  max-width: 320px;
  max-height: 100%;
  margin: 12px auto 0 auto;
  outline: 1px solid #ddd;
}

@media (max-width: 410px) {
  /* scale down */

  main {
    font-size: 14px;
    width: 213px;
    margin: 12px auto;
  }

  .message {
    line-height: 12px;
  }

  .name {
    font-size: 30px;
    height: 41px;
    max-width: 213px;
    padding: 6px 0 0 0;
  }

  .svg-bar {
    width: 244px;
    margin: 16px 18px;
  }
  
  .svg-link-wrapper {
    padding: 0 17px;
  }
  
  svg {
    height: 24px;
    width: 24px;
  }

  .face {
    max-width: 213px;
  }
}
